# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [8]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [9]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [10]:
# Tu código aquí

serie = pd.Series(lst, index = list(range(1,11)) , dtype='float')   #reasignamos los indices para que empiece por el 1, y no en el 0
serie

1      5.7
2     75.2
3     74.4
4     84.0
5     66.5
6     66.3
7     55.8
8     75.7
9     29.1
10    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [11]:
# Tu código aquí
serie[3]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [12]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [13]:
# Tu código aquí
df = pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [14]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [15]:
# Tu código aquí
print("No hay ninguna lista a continuación, así que me la invento....")

No hay ninguna lista a continuación, así que me la invento....

In [16]:
column_names = ['Col1', 'Col2', 'Col3', 'Col4', 'Col5']

# Renombrar las columnas
df.columns = column_names

# Mostrar el DataFrame resultante
print(df)

   Col1  Col2  Col3  Col4  Col5
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [20]:
# Tu código aquí
# Crear un subconjunto del DataFrame con las columnas de Puntuación 1, 3 y 5
sub_df = df[['Col1', 'Col3', 'Col5']]

# Mostrar el subconjunto del DataFrame resultante
print(sub_df)

   Col1  Col3  Col5
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [21]:
# Tu código aquí
# Calcular el valor promedio de la columna Score_3 (Col3)
score_3_mean = df['Col3'].mean()

# Mostrar el valor promedio
print("El valor promedio de Score_3 (Col3) es:", score_3_mean)

El valor promedio de Score_3 (Col3) es: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [24]:
# Tu código aquí
score_4_max = df['Col4'].max()

# Mostrar el valor maximo
print("El valor maximo de Score_4 (Col4) es:", score_4_max)

El valor maximo de Score_4 (Col4) es: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [25]:
# Tu código aquí
score_2_mean = df['Col2'].mean()

# Mostrar el valor promedio
print("El valor promedio de Score_2 (Col2) es:", score_2_mean)

El valor promedio de Score_2 (Col2) es: 50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [27]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [30]:
# Tu código aquí
# Crear el DataFrame
df_orders = pd.DataFrame(orders)

# Mostrar el DataFrame resultante
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [32]:
# Tu código aquí
# Calcular la cantidad total pedida
total_quantity = df_orders['Quantity'].sum()

# Calcular los ingresos totales
total_revenue = df_orders['Revenue'].sum()

# Mostrar los resultados
print("Cantidad total pedida:", total_quantity)
print("Ingresos totales:", total_revenue)

Cantidad total pedida: 2978
Ingresos totales: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [33]:
# Tu código aquí
# Obtener el precio del artículo más caro
max_price = df_orders['UnitPrice'].max()

# Obtener el precio del artículo más barato
min_price = df_orders['UnitPrice'].min()

# Calcular la diferencia entre el precio más caro y el más barato
price_difference = max_price - min_price

# Mostrar la diferencia de precios
print("Diferencia entre el artículo más caro y el más barato:", price_difference)

Diferencia entre el artículo más caro y el más barato: 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [40]:
# Tu código aquí
admissions = pd.read_csv('Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [41]:
# Tu código aquí
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [42]:
# Tu código aquí
# Verificar si hay datos faltantes
missing_values = admissions.isnull().sum()

# Mostrar los resultados
print("Datos faltantes por columna:")
print(missing_values)

Datos faltantes por columna:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [44]:
# Tu código aquí
# Establecer 'Serial No.' como índice y mantener la columna en el DataFrame
admissions.set_index('Serial No.', inplace=True,  drop=False) 
#el drop False haz con que la columna siga en el marco de datos, además de hacerla un indice

# Mostrar el DataFrame resultante
print(admissions)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0
...                ...        ...          ...                ...  ...   ...
381                381        324          110                  3  3.5   3.5
382                382        325          107                  3  3.0   3.5
383                383        330          116                  4  5.0   4.5
384                384        312          103                  3  3.5   4.0
385                385        333          117                  4  5.0   4.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90
...          ...       ...               ...
381         9.04         1              0.82
382         9.11         1              0.84
383         9.45         1              0.91
384         8.78         0              0.67
385         9.66         1              0.95

[385 rows x 9 columns]

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [46]:
# Tu código aquí
# Contar el número de filas donde CGPA > 9 y Research == 1
num_rows = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]

# Mostrar el resultado
print("Número de filas donde CGPA es mayor a 9 y el estudiante ha realizado una investigación:", num_rows)

Número de filas donde CGPA es mayor a 9 y el estudiante ha realizado una investigación: 101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [56]:
# Verificar los nombres de las columnas
column_names = admissions.columns

# Mostrar los nombres de las columnas
print("Nombres de las columnas:")
print(column_names)

Nombres de las columnas:
Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [57]:
# Tu código aquí
# Filtrar filas donde CGPA > 9 y SOP < 3.5
filtered_df = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Calcular la probabilidad media de admisión para estos solicitantes
mean_chance_of_admit = filtered_df['Chance of Admit '].mean()

# Mostrar las filas y la probabilidad media de admisión
print("Filas donde CGPA > 9 y SOP < 3.5:")
print(filtered_df)
print("\nProbabilidad media de admisión para estos solicitantes:", mean_chance_of_admit)

Filas donde CGPA > 9 y SOP < 3.5:
            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
29                  29        338          118                  4  3.0   4.5
63                  63        327          114                  3  3.0   3.0
141                141        326          114                  3  3.0   3.0
218                218        324          111                  4  3.0   3.0
382                382        325          107                  3  3.0   3.5

            CGPA  Research  Chance of Admit
Serial No.
29          9.40         1              0.91
63          9.02         0              0.61
141         9.11         1              0.83
218         9.01         1              0.82
382         9.11         1              0.84

Probabilidad media de admisión para estos solicitantes: 0.8019999999999999