# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [5]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [8]:
# Tu código aquí

serie = pd.Series(lst, index = list(range(1,11)) , dtype='float')   #reasignamos los indices para que empiece por el 1, y no en el 0
serie

1      5.7
2     75.2
3     74.4
4     84.0
5     66.5
6     66.3
7     55.8
8     75.7
9     29.1
10    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [9]:
# Tu código aquí
serie[3]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [10]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [13]:
# Tu código aquí
df = pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# Tu código aquí

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [20]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [38]:
# Tu código aquí
subset_columns = list((df.columns)[1:6])
df[subset_columns]

      1     2     3     4
0  95.0  67.5  35.0  78.4
1  40.8  30.8  37.8  87.6
2  73.2  44.2  14.6  91.8
3   0.1  96.1   4.2  69.5
4  20.5  85.4  22.8  35.9
5  69.0   0.1  31.8  89.1
6  40.7  95.0  83.8  26.9
7  26.4  53.8  88.8  68.5
8  96.4  53.4  72.4  50.1
9  39.0  43.2  81.6  34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [10]:
# Tu código aquí

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [11]:
# Tu código aquí

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [12]:
# Tu código aquí

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [13]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [14]:
# Tu código aquí

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [15]:
# Tu código aquí

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [16]:
# Tu código aquí

## Carguemos otro conjunto de datos para más ejercicios

In [17]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [18]:
# Tu código aquí

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [19]:
# Tu código aquí

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [20]:
# Tu código aquí

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [21]:
# Tu código aquí

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [22]:
# Tu código aquí